<div class="ui container" style='margin-top: 2vh;'>
  <div class="ui segment">
    <%= link_to 'Logout', logout_path, method: :delete, class: 'ui fluid red button inverted' %>
  </div>
  <table class="ui celled table">
    <thead>
      <tr><th>Sender</th>
      <th>Email</th>
      <th>Message</th>
      <th>Date</th>
    </tr></thead>
    <tbody>
      <% @messages.each do |msg| %>
      <tr>
        <td><%= msg.sender %></td>
        <td><%= msg.email %></td>
        <td><%= msg.message %></td>
        <td><%= msg.created_at %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
