<div class="ui grid" style="margin-top: 1vh;">
<div class="ten wide column"></div>
<div class="ui text menu stackable">
    <a class="active item">
      About me
    </a>
    <a href="#projects" class="item">
      Projects
    </a>
    <a class="item" href="#skills">
      Skills
    </a>
    <a class="item" href="#resume">
      Resume
    </a>
    <a href="#contact" class="item">
      Contact
    </a>
  </div>
</div>

<div class="ui grid stackable">
  <div class="four wide column"></div>
  <div class="eight wide column" style="margin-top: 2vh;">
    <div class="ui very padded segment piled" style="background: #d3fff2">
      <img class="ui centered small image circular" src="https://avatars0.githubusercontent.com/u/25207181?s=460&v=4">
      <h1 class="ui header center aligned" style="font-family: radnika; ">Hello, I am Pablo Estrada.</h1>
      <h4 class="ui horizontal divider header">
        <i class="question circle icon"></i>
        About me
      </h4>
      <p>I am software developer that likes to see technology solve everyday problems. I spend most of my time learning new languages and tools to make any of my crazy ideas a reality.</p>
      <div class="ui divider hidden"></div>
      <p>I study computer science at the <strong>University of Florida</strong>, currently a freshmen, but if I am not hacking away or studying at the Library, I am going for a run or playing ping pong.</p>
      <h4 class="ui horizontal divider header"><i class="address book icon"></i></h4>
      <div class="ui grid stackable center aligned">
        <div class=""></div>
        <div class="sixteen wide column">
          <a href="#contact" class="inverted grey ui huge circular mail icon button">
              <i class="grey mail icon"></i>
          </a>
          <a href="https://www.linkedin.com/in/pablo-estrada/" class="inverted grey ui huge circular linkedin icon button">
              <i class="grey linkedin icon"></i>
          </a>
          <a href="https://github.com/pablof300" class="inverted grey ui huge circular github icon button">
              <i class="grey github icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui grid centered" style="margin-top: 8vh;"><i class="big angle down icon centered" style="opacity: 0.9;"></i></div>

<div class="ui segment raised" id="projects" style="background: #d3fff2; margin-top:12vh; padding-bottom:12vh;">
  <h2 class="ui center aligned icon header" style='margin-top: 3vh; margin-bottom: 10vh; opacity: 0.75;'>
    <i class="circular code icon"></i>
    Projects
  </h2>
  <div class="ui centered stackable link cards">
    <div class="ui blue card" id="first-project" data-content="This is my favorite project, and also one of the most stressful... (incredibly challenging, but equally satisfying)" data-title="Fun fact" data-position="top center">
      <div class="ui slide masked reveal image">
        <%= image_tag 'singularities-1.png', class: "visible content" %>
        <%= image_tag 'singularities-2.jpg', class: "hidden content" %>
      </div>
      <div class="content">
        <div class="header center aligned">Singularities</div>
        <div class="meta center aligned">
          <a>Team Project</a>
        </div>
        <div class="description">
          Lead developer of Singularities, an iOS game for iPhone and iPad. Developed using <strong>Swift</strong> and <strong>SpriteKit</strong> as a two-dimensional retro gravity game. It has been downloaded more than 500 times on the AppStore with a review of 4.8 stars.
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          Developed in 2018
        </span>
        <span>
          <a href="https://itunes.apple.com/us/app/singularities/id1278565563">
            <i class="linkify icon"></i>
            View more
          </a>
        </span>
      </div>
    </div>
    <div class="yellow card" id="second-project" data-content="You can find a demo of this project at pabloestrada.me/earthskipper" data-title="Fun fact" data-position="top center">
      <div class="ui slide masked reveal image">
        <%= image_tag 'earthskipper-1.png', class: "visible content" %>
        <%= image_tag 'earthskipper-2.png', class: "hidden content" %>
      </div>
      <div class="content">
        <div class="header center aligned">EarthSkipper</div>
        <div class="meta center aligned">
          <a>Hackathon Project</a>
        </div>
        <div class="description">
          Written, tested, and deployed in under 24 hours. EarthSkipper is a web-application to promote spontaneous travel around the world. Developed using <strong>Ruby on Rails</strong>, <strong>FourSquare API</strong>, and <strong>Amazon S3</strong>. Awarded 'Best First Hack' at the University of Miami's hackathon <strong>UHack 2018</strong>
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          Developed in 2018
        </span>
        <span>
          <a href="https://github.com/pablof300/EarthSkipper">
            <i class="linkify icon"></i>
            View more
          </a>
        </span>
      </div>
    </div>
    <div class="blue card" id="third-project" data-content="This project made me realize I love tinkering with electronics and the programming behind physical actuators!" data-title="Fun fact" data-position="top center">
      <div class="ui slide masked reveal image">
        <%= image_tag 'animatronics-1.png', class: "visible content" %>
        <%= image_tag 'animatronics-2.png', class: "hidden content" %>
      </div>
      <div class="content">
        <div class="header center aligned">Orangutan Animatronics</div>
        <div class="meta center aligned">
          <a>Team Project</a>
        </div>
        <div class="description">
          Interactive RFID-capable hydraulic powered orangutan that raises awareness about his specie/environment through speech. I was the lead engineer for wiring and programming, using a <strong>Raspberry PI</strong> and <strong>Python</strong>. Second place winner at the 2018 Technology Student Association Florida State conference.
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          Developed in 2018
        </span>
        <span>
          <a href="https://github.com/pablof300/Orangutan-Animatronic">
            <i class="linkify icon"></i>
            View more
          </a>
        </span>
      </div>
    </div>
  </div>
  <div class="ui divider hidden"></div>
  <div class="ui divider hidden"></div>
  <div class="ui centered stackable link cards">
    <div class="blue card" id="fourth-project" data-content="Some of my levels in this game are very difficult. I wrote this game a while ago, so it's on my to-do list to go back and refactor some code (and lower its difficulty a bit)." data-title="Fun fact" data-position="top center">
      <div class="ui slide masked reveal image">
        <%= image_tag 'cubical-1.png', class: "visible content" %>
        <%= image_tag 'cubical-2.png', class: "hidden content" %>
      </div>
      <div class="content">
        <div class="header center aligned">Cubical World</div>
        <div class="meta center aligned">
          <a>Team Project</a>
        </div>
        <div class="description">
          Developer of the iOS game Cubical World. It is a multi-level game written in <strong>Swift</strong>, using the <strong>SpriteKit</strong> framework. It is a simple, yet entertaining, game that took several months to finish due to its vast range of levels.
        </div>
      </div>
      <div class="extra content">
        <a href="https://itunes.apple.com/us/app/cubical-world/id1273263048?mt=8">
          <span class="right floated">
            Developed in 2017
          </span>
        </a>
        <span>
          <i class="linkify icon"></i>
          View more
        </span>
      </div>
    </div>
    <div class="red card" id="fifth-project" data-content="After testing this game thousands of times, I've become really good at mancala." data-title="Fun fact" data-position="top center">
      <div class="ui slide masked reveal image">
        <%= image_tag 'mancala-1.png', class: "visible content" %>
        <%= image_tag 'mancala-2.png', class: "hidden content" %>
      </div>
      <div class="content">
        <div class="header center aligned">Mancala</div>
        <div class="meta center aligned">
          <a>Personal Project</a>
        </div>
        <div class="description">
          Ancient family game rewritten in <strong>Java</strong>, using <strong>JavaFX</strong> for smooth animations and graphics. It supports singleplayer and multiplayer, and it is an open-sourced project.
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          Developed in 2017
        </span>
        <span>
          <a href="https://github.com/pablof300/Mancala">
            <i class="linkify icon"></i>
            View more
          </a>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="ui grid centered" id="skills" style="margin-top: 8vh;"><i class="big angle down icon centered" style="opacity: 0.9;"></i></div>

<div class="ui grid stackable">
  <div class="two wide column"></div>
  <div class="twelve wide column" style="margin-top: 2vh;">
    <div class="ui very padded segment stacked align center" style="background: #d3fff2">
      <div class="ui grid stackable">
      </div>
      <div class="ui grid stackable">
        <div class="ui row">
          <h2 class="ui center aligned icon header" style='opacity: 0.75;'>
            <i class="circular code icon"></i>
            Skills
          </h2>
        </div>
        <div class="ui row">
          <div class="three wide column"></div>
          <div class="three wide column"><h4 class="header centered"><i class="info icon"></i> Tech Languages</h4></div>
          <div class="eight wide column">Java, Ruby, Swift, C++, Python, HTML, CSS, JavaScript</div>
        </div>
        <div class="ui row">
          <div class="three wide column"></div>
          <div class="three wide column"><h4 class="header centered"><i class="info icon"></i> Frameworks</h4></div>
          <div class="eight wide column">Rails, SpriteKit, JavaFX</div>
        </div>
        <div class="ui row">
          <div class="three wide column"></div>
          <div class="three wide column"><h4 class="header centered"><i class="info icon"></i> Tools</h4></div>
          <div class="eight wide column">Git, Photoshop</div>
        </div>
        <div class="ui row">
          <div class="three wide column"></div>
          <div class="three wide column"><h4 class="header centered"><i class="info icon"></i> Languages</h4></div>
          <div class="eight wide column">English, Spanish (Fluent)</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui grid centered" id="resume" style="margin-top: 8vh;"><i class="big angle down icon centered" style="opacity: 0.9;"></i></div>

<div class="ui grid stackable">
  <div class="four wide column"></div>
  <div class="eight wide column" style="margin-top: 2vh;">
    <div class="ui very padded segment piled align center" style="background: #d3fff2">
      <div class="ui icon header center aligned" style="opacity: 0.75;">
        <i class="file alternate outline icon"></i>
          View my resume
      </div>
      <div class="ui divider hidden"></div>
      <div class="ui grid stackable centered">
        <%= link_to asset_path('resume.pdf'), class: 'ui primary animated button center aligned centered', target: "_blank" do %>
          <div class="visible content">Pablo Estrada</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="ui grid centered" id="contact" style="margin-top: 8vh;"><i class="big angle down icon centered" style="opacity: 0.9;"></i></div>

<div class="ui grid stackable">
  <div class="four wide column"></div>
  <div class="eight wide column" style="margin-top: 2vh;">
    <div class="ui very padded segment stacked align center" style="background: #d3fff2">
      <div class="ui icon header center aligned" style="opacity: 0.75;">
        <i class="envelope outline icon"></i>
          Contact
      </div>
      <div class="ui divider hidden"></div>

      <div class="ui attached icon message hidden">
        <i class="notched circle loading icon"></i>
        <i class="close icon"></i>
        <div class="content">
          <div class="header">
            Just one second
          </div>
          <p>We're fetching that content for you.</p>
        </div>
      </div>

      <div class="ui raised teal segment">
        <%= form_for(:message, html: { class: 'ui form', role: 'form' }, url: message_path) do |f|%>
          <div class="field">
            <label>Your name</label>
            <%= f.text_field :sender, placeholder: 'Name'  %>
          </div>
          <div class="field">
            <label>Your email</label>
            <%= f.text_field :email, placeholder: 'Email'  %>
          </div>
          <div class="field">
            <label>Your message</label>
            <%= f.text_area :message, rows: '2'  %>
          </div>
          <%= f.submit 'Submit', class: 'ui primary button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
